* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1,
h2,
h3 {
    color: green;
    text-decoration: underline;
}

p,
li,
a {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: royalblue;
    text-decoration: green wavy underline;
    font-weight: bold;
}

.line-1 {
    background-color: lightblue;
}

.line-2 {
    background-color: lightcoral;
}

.line-3 {
    background-color: lightcyan;
}

.line-4 {
    background-color: lightgreen;
}

.line-5 {
    background-color: lightpink;
}

.line-6 {
    background-color: lightsalmon;
}

.line-7 {
    background-color: lightseagreen;
}